<div class="modal-header">
  <h5 class="modal-title" id="staticBackdropLabel">Congratulations!</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
  You have completed all your tasks!
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
</div>
