<%= form_with(model: patients_task_item) do |form| %>
  <% if patients_task_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patients_task_item.errors.count, "error") %> prohibited this patients_task_item from being saved:</h2>

      <ul>
        <% patients_task_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
