<tr>
  <td><%= patient.full_name %></td>
  <td><%= link_to 'edit', edit_patient_path(patient) %></td>
  <% if patient.task_list %>
    <td><%= link_to 'view', patient %></td>
  <% else %>
    <td><%= link_to 'assign', new_patient_task_list_path(patient), { remote: true, 'data-bs-toggle': 'modal', 'data-bs-target': '#modal-window' } %></td>
  <% end %>
</tr>
