<h1 class="text-center">Patient List</h1>

<table class="table">
  <tbody>
    <%= render @patients %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path, { remote: true, 'data-bs-toggle': 'modal', 'data-bs-target': '#modal-window' } %>
<%= link_to 'Task Lists', task_lists_path %>
<%= render partial: '/layouts/modal' %>
