<tr>
  <td><%= link_to task_list.name, task_list %></td>
  <td><%= link_to 'Edit', edit_task_list_path(task_list) %></td>
  <td><%= link_to 'items', task_list %></td>
  <td><%= link_to 'Archive', task_list_archive_path(task_list) %></td>
</tr>
